<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>
<div class="d-flex flex-row gap-2">
  <button
    *ngIf="name !== 'Richard'"
    class="btn btn-primary"
    (click)="changeName()"
  >
    Cambiar Nombre
  </button>
  <button *ngIf="age !== 28" class="btn btn-primary" (click)="changeAge()">
    Cambiar Edad
  </button>
  <button
    *ngIf="name === 'Richard' && age === 28"
    class="btn btn-secondary"
    (click)="resetValues()"
  >
    Reset values
  </button>
</div>
